<script src="{{url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

    <!-- <script src="{{url_for('static',filename='vendors/apexcharts/apexcharts.js')}}"></script> -->
    <script src="{{url_for('static',filename='vendors/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendors/datatables/datatables.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    
    <!-- include FilePond library -->
    <script src="{{url_for('static',filename='vendors/filepond/filepond.min.js')}}"></script>

    <!-- include FilePond jQuery adapter -->
    <script src="{{url_for('static',filename='vendors/filepond/filepond.jquery.js')}}"></script>
    
    <!-- include FilePond plugins -->
    <script src="{{url_for('static',filename='vendors/filepond/filepond-plugin-file-validate-type.js')}}"></script>
    <script src="{{url_for('static',filename='vendors/filepond/filepond-plugin-image-preview.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendors/filepond/filepond-plugin-image-exif-orientation.min.js')}}"></script>

 

    <script src="{{url_for('static',filename='vendors/jquery/validate/jquery.validate.js')}}"></script>
    <!-- <script src="{{url_for('static',filename='vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}"></script> -->
    <script src="{{url_for('static',filename='vendors/jquery/validate/additional-methods.js')}}"></script>
    <script src="{{url_for('static',filename='vendors/jquery/validate/localization/messages_id.js')}}"></script>
    <script src="{{url_for('static',filename='vendors/sweetalert2/sweetalert2.all.min.js')}}"></script>
    
    