<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- <link rel="stylesheet" href="{{url_for('static',filename='vendors/simple-datatables/style.css')}}"> -->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">

<!-- <link rel="stylesheet" href="{{url_for('static',filename='vendors/iconly/bold.css')}}"> -->

<link rel="stylesheet" href="{{url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.css')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='vendors/bootstrap-icons/bootstrap-icons.css')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='vendors/datatables/datatables.min.css')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='vendors/fontawesome/all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='vendors/sweetalert2/sweetalert2.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='vendors/filepond/filepond.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='vendors/filepond/filepond-plugin-image-preview.min.css')}}">