{% extends "admin/layouts/main.html" %}
{% block title %} Artikel Edit {% endblock%}
{% block style %}
<style>
    .filepond--root {
        height: 12rem;
    }

    .filepond--drop-label.filepond--drop-label label {
        margin-top: 8rem;
    }

    .tox .tox-promotion {
        visibility: hidden;
    }

    .image-wrapper {
        width: 100%;
        height: 400px;
    }

    .image-wrapper img {
        width: 100%; /* Or any other width value */
        /* aspect-ratio: 16 / 9; */
        object-fit: cover;

    }
</style>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Edit Data Artikel</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{url_for('musik_index')}}">Data Artikel</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Data Artikel
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">Edit Data</div>
            <div class="card-body">
                <form action="{{url_for('artikel_update_data',artikel_id=data.id)}}" method="post" id="formTambahData">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="judul">Judul</label>
                                        <input type="text" required id="judul" class="form-control" name="judul"
                                            value="{{data.judul}}" placeholder="Judul Artikel">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="sumber">Sumber</label>
                                        <input type="text" required id="sumber" class="form-control"
                                            value="{{data.sumber}}" name="sumber" placeholder="Sumber">
                                    </div>
                                </div>
                                <div class="col-12" data-bs-toggle="modal" data-bs-target="#lihat-gambar">
                                    <button type="button" class="btn btn-primary me-1 mb-1">Lihat Gambar</button>
                                </div>
                                <div class="modal fade text-left modal-borderless " id="lihat-gambar" tabindex="-1"
                                    role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Gambar</h5>
                                                <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="image-wrapper">
                                                    <img
                                                        src="{{url_for('static',filename='images/artikel/'+data.gambar)}}"
                                                        alt="Gambar Artikel">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light-primary"
                                                    data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Tutup</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="col-12">
                                <input type="file" name="image_file" id="image_file">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>Isi Artikel</p>
                            <textarea name="isi_artikel" id="isi_artikel" cols="30" rows="10">{{data.isi}}</textarea>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end pt-2">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Simpan</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>

{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='vendors/tinymce/tinymce.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/tinymce/plugins/code/plugin.min.js')}}"></script>
<script>
    $(document).ready(function () {
        tinymce.init({ selector: '#isi_artikel' });

        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginFileValidateType);
        loadFilePond()
        $.validator.addMethod("checkAlpha", function (value, element) {
            return (new RegExp("^[a-zA-Z ]*$").test(value))

        }, "Kolom harus diisi dengan huruf");
        $.validator.addMethod("checkAlphaSym", function (value, element) {
            return (new RegExp("^[a-zA-Z .,]*$").test(value))
        }, "Kolom harus diisi dengan huruf");
        $('#formTambahData').validate({
            // wrapper: "#form-input",
            rules: {
                judul: {
                    required: true,
                },
                sumber: {
                    required: true,
                },


            },
            //hightlight: function(element) {
            //    $(element).addClass('is-invalid')
            //},
            errorElement: "span",
            errorPlacement: function (error, element) {
                $(element).addClass('is-invalid')
                error.addClass("invalid-feedback");
                // error.appendTo("#form-input");
                error.insertAfter(element);
                // Add the `help-block` class to the error element

                // if (element.prop("type") === "checkbox") {
                //     error.insertAfter(element.parent("label"));
                // } else {
                //     error.insertAfter(element);
                // }
            },
            success: function (label, element) {
                $(element).removeClass('is-invalid');
            }
        });
    });
    function loadFilePond() {
        var file_pond = $('#image_file').filepond({
            acceptedFileTypes: ['image/*'],
            labelFileProcessingComplete: `Upload Berhasil`,
            labelInvalidField: 'File tidak didukung',
            labelTapToUndo: `ketuk untuk membatalkan`,
            labelTapToCancel: `ketuk untuk membatalkan`,
            labelFileProcessingError: `Gagal Memproses`,
            labelTapToRetry: `ketuk untuk coba lagi`,
            labelFileProcessing: `Sedang memproses`,
            labelIdle: `Seret dan tempel atau <span class="filepond--label-action">Pilih Gambar</span> untuk mengunggah file gambar`,
            labelInvalidField: `File tidak didukung`,
            credits: false,
            fileValidateTypeDetectType: [],
            server: {
                process: "{{url_for('upload_artikel_file')}}",
                revert: {
                    url: "{{url_for('remove_artikel_file')}}",
                    method: 'GET',
                },
            }
        });
    }
</script>
{% endblock %}